/*
* Single post
 */
.single-post{
	#main-container{
		&.container{
			@media (min-width: 1680px){
				width: 1330px;
			}
		}
	}
	.site-content{
		.entry-meta{
			margin-top: 10px;
		}
	}
	.entry-header{
		.entry-title{
			margin-top: 0;
			font-weight: 600;
			font-size: 24px;
			-webkit-word-wrap: break-word;
			-ms-word-wrap: break-word;
			word-wrap: break-word;
		}
	}
	.entry-content{
		font-weight: 300;
		margin-top: 10px;
		text-align: justify;
		p{
			margin-bottom: 10px;
			font-size: 15px;
		}
	}
	.page-links{
		margin: 20px 0;
		.page-links-title{
			color: $gray-dark;
		}
		span{
			color: $gray-darker;
			margin: 0 8px;
			font-weight: 700;
			&.page-links-title{
				font-weight: 400;
				margin-left: 0;
			}
		}
		a > span{
			color: $gray-dark;
			font-weight: 400;
		}
	}
}
.post-single{
	.page-links-title{
		margin-left: 0;
	}
	span{
		margin: 0 8px;
	}
}

.comment-form-author,.comment-form-email,.comment-form-url{
	width: 33.33333%;
	display: inline-block;
	float: left;
}
.comment-form-author{
	padding-right: 15px;
}
.comment-form-email{
	padding: 0 15px;
}
.comment-form-url{
	padding-left: 15px;
}
/**
 * 6.3 Entry Header
 * -----------------------------------------------------------------------------
 */
.entry-header{
	&.no-padding{
		margin: 30px 0;
		.entry-meta{
			.entry-comments-link{
				position: relative;
				&:after{
					background: #888;
					content: "";
					position: absolute;
					top: 10px;
					left: -10px;
					@include size(5px,2px);
				}
			}
			> span{
				margin-right: 15px;
			}
		}
	}
}

/**
 * 6.3 Entry Meta
 * -----------------------------------------------------------------------------
 */
.entry-meta{
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	top: -1px;
	> span {
		color: #999;
		font-size: 13px;
		font-weight: 400;
		margin-right: 5px;
		margin-left: 5px;
	}
	i{
		font-size: 15px;
	}
}

.entry-meta-2 {
	margin-bottom: 10px;
	> span {
		font-size: 14px;
		color: #aaa;
		@include rtl-margin-right(5px);
		font-style: italic;
	}
	a{
		color: #666;
		&:hover{
			color: $link-hover-color;
		}
	}
}
.tag-links {
	a{
        position: relative;
        z-index: 1;
        color: $widget-tag-color;
		border: $widget-tag-border;
        margin: $widget-tag-margin;
	    padding: $widget-tag-padding;
        background: $widget-tag-bg;
        text-transform: $widget-tag-transform;
        font-size: $widget-tag-font-size;
        font-weight: 400;
        @include inline-block();
        @include border-radius($widget-tag-border-radius);
        &:after{
            content: "";
            position: absolute;
            top: 0;
            width: 0;
            z-index: -1;
            height: 100%;
            @include rtl-left(0);
            background-color: $widget-tag-bg-hover;
            @include transition(all .2s linear);
        }
	    &:hover{
            color: $widget-tag-color-hover;
	    	border-color:$widget-tag-border-color-hover;
            &:after{
                width: 100%;
            }
	    }
	}
}
.byline {
	display: none;
}
.entry-category {
	padding: 3px 8px;
	display: inline-block;
	font-size: 13px;
	line-height: 1;
	text-transform: uppercase;
	ul {
		margin: 0;
		padding: 0;
		display: inline-block;
		li {
			margin: 0;
			padding: 0;
		}
	}
	a {
		color: #999;
		padding: 0px 5px;
		font-weight: 400;
	}
}

/**
 * 6.4 Entry Content
 * -----------------------------------------------------------------------------
 */ 

.entry-content .more-link {
	white-space: nowrap;
}

.post-categories{
	li{
		display: inline-block;
		list-style: none;
		list-style-type: dashed
	}
}
/**
 * Navigation links
 */
.nav-links{
	margin: 60px 0;
	a{		
		width: 50%;
		.prev{
			float: left;
		}
		.next{
			float: right;
		}
	}
	.meta-nav{
		font-weight: 600;
		border: 1px solid $border-color;
		text-transform: uppercase;
		letter-spacing: 1px;
		min-height: 40px;
		line-height: 40px;
		width: 20%;
		padding: 0 10px;
		text-align: center;
		font-family: $font-family-base;
	}
}

.search article.page{
	margin-bottom: 60px;
	.entry-title {
		font-size: 24px;
		line-height: 25px;
		font-weight: 400;
		margin-bottom: 15px;
		font-weight: 600;
		word-wrap: break-word;
	}
}
article{
	position: relative;
	&.post {
		margin-bottom: 60px;
		.entry-title {
			margin-bottom: 15px;
			line-height: 25px;
			font-size: $font-size-base + 10;
			font-weight: 600;
			word-wrap: break-word;
		}
		.entry-category{
			margin-right: 5px;
		}
		.entry-date{
			color: #999;
			margin-right: 5px;
			font-size: 13px;
			padding-right: 10px;
			position: relative;
			&:after{
				background: #999;
				content: "";
				position: absolute;
				top: 3px;
				right: 0;
				@include size(1px,12px);
			}
		}
		.author{
			margin-right: 5px;
			font-weight: 300;
			a{
			    color: #777;
    			font-weight: 500;
				&:hover{
					color: $theme-color;
				}
			}
		}
		.entry-content{
			p{
				line-height: 25px;
				font-weight: 300;
				font-size: 15px;
				text-align: justify;
			}
		}
		.comment-count{
			font-size: $font-size-base - 2;
		}
	}	
	header{
		position: relative;
		.cat-links{
			margin-top: 15px;
			z-index: 9;
			display:  inline-block;
			a{ color: #FFFFFF; padding: 0 10px; @include rtl-margin-right(5px);
			background: $link-hover-color; }
		}
	}
	h5.entry-title {
		line-height: 1.4;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 15px;
	}
	.entry-excerpt {
		color: $light-gray;
		line-height: 24px;
	}
	.entry-thumb {
		overflow: hidden;
	}
	.post-format a{
		display: block;
		height: 40px;
		width: 40px;
		line-height:39px;
		background:$theme-color-second ;
	 	color: #FFFFFF;
	 	text-align: center;
	}
}
.posts-grid{
	article{
		&.post{
			.entry-meta{
				margin-bottom: 10px;
			}
		}
	}
}
.archive-body{
	.row:last-child{
		article.post {
			border:none;
			padding-bottom: 0;
		}
	}
}
.archive-header{
	display: none;
	.archive-title{
		background-color: #ff7725;
		padding: 15px 30px;
		color: #fff;
	}
}
.comment-respond{
	.title{
		font-size: 20px;
		font-weight: 500;
	}
}
/*------------------------------------*\
    pagination
\*------------------------------------*/

 
.pbr-pagination {
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 30px;
	.pagination {
		> li {
			display: inline-block;
			padding: 0;
			span.current{
                background-color: lighten($link-hover-color, 30%);
                color: #fff;
            }
            a{
                &:hover{
                    background-color: lighten($link-hover-color, 30%);
                    color: #fff;
                }
                &.prev,&.next {
                	font-size: 14px;
                	font-weight: 600;
                }
            }
            .page-numbers {
                background-color: #f1f1f1;
                @include size(32px, 32px);
                padding: 0;
                line-height: 32px;
                margin: 0 3px;
                text-align: center;
                border: none;
            }
		}
	}
	.result-count {
		color: #999;
		font-size: 12px;
		margin: 10px 0 0px;
	}
}


.loop-pagination {
   margin-top: 0;
   .page-numbers{
      padding: 5px 10px;
      font-weight: bold;
      text-transform: uppercase;
      	font-size: 12px;
     
   }
   .current{
   	color: $link-hover-color;
   	text-decoration: underline;
   }
}

.ratings a {
	text-indent: -5000px !important;
}
.team, .page,
.post{ 
	.pbr-social-share {
		margin-bottom: 30px;
		@include rtl-float-right();
		.bo-social-icons {
			margin: 0 -5px;
			a{
				@include border-radius(50%);
			}
		}
	}
}

.site-content .entry-content, .site-content .entry-summary, .page-content {
	//margin-bottom: 30px;
}
/*------------------------------------*\
    Comment List
\*------------------------------------*/

.comments{
	border-top:  1px solid $border-color;
	padding-top: 37px;
	margin-bottom: 30px;
    .commentlists {
        margin-bottom: 30px;
        padding: 0;
        .children{
        	padding-left: 30px;
        }
    }
    .comments-title {
        font-size: 20px;
        position: relative;
        margin: 0 0 30px;
        font-weight: 500;
        span{
        	position: relative;
        	padding-bottom: 5px;
        	display: inline-block;        	
        }
    }
    .the-comment{
    	margin-bottom: 30px;
    	border-top: 1px solid #e1e1e1;
    	padding-top: 30px; 
   		@include flexbox();
	    .avatar{
	    	border: 1px solid #fff;
	    	margin-right: 10px;
	        img{
	            @include box-shadow(3px 5px 9px rgba(0,0,0,.15));
	        }
        }
    }
    .children{
    	padding-left: 50px;
    }
    .comment-author{
        color: #999;
        strong{
        	color: #000;
        }
    }
    .comment-meta {
        font-size: $font-size-base - 2;
        color: #aaa;
    }
    .comment-text {
        > p:last-child {
            margin-bottom: 0;
			margin-top: 10px;
            line-height: 25px;
            font-weight: 300;
        }
    }
}
.commentlists, .commentlists .children {
    list-style: none;
}
/*------------------------------------*\
    About Author
\*------------------------------------*/
.author-info {
	margin-bottom: 50px;
	.author-about-container {
		.description {
			.author-title {
				margin: 0 0 15px;
			}
		}
		> .pull-left {
			@include rtl-padding-right(15px);
		}
		.avatar-img {
			img{
				@include border-radius(50%);
			}
		}
	}
}

//Related Posts
 
.related-posts {
	.related-post-title{
		font-size: 24px;
		text-transform: none;
		font-weight: 500;
		margin-bottom: 20px;
	}
 	.related-posts-content {
  		article.post {
		    margin-bottom: 0;
		    padding-bottom: 0;
		    .entry-title {
		    	font-size: $font-size-base;
		    	font-weight: 500;
		    	text-transform: uppercase;
		    	margin-bottom: 10px;
		    }
		    .entry-thumb img, .post-thumbnail img {
		    	margin-bottom: 10px;
		    }
		}
	}
}
.readmore {
	margin-top: 35px;
	a{
		font-weight: 300;
		border: 1px solid #999;
		color: #999;
		text-align: center;
		padding: 8px 22px;
		font-size: $font-size-base + 2;
		@include transition(all 0.3s ease 0s);
		&:hover{
			color: $white;
			border-color: $link-hover-color;
			background: $link-hover-color;
		}
	}
}
.archive-header{ 
	.archive-title {
		margin-bottom: 30px;
	}
	.author-description{
		border: 1px solid $border-color;
		background-color: #fafafa;
		padding: 20px;
		@include border-radius(6px);
		margin-bottom: 20px;
	}
}
.post-preview{
	margin-bottom: 35px;
	position: relative;
	.post-format{
		display: none;
	}
}
.archive-body{
	margin-bottom: 30px;
}
.post-content{
	.page-links{
		clear: both;
		margin-top: 30px;
		.page-links-title{
			margin-left: 0;
		}
		span{
			margin: 0 4px;
		}
		a{
			font-weight: 500;
			margin-left: 4px;
		}
	}
}
.page-link{
	a{
		font-weight: 500;
		margin-left: 4px;
	}
}
#commentform{
	margin-bottom: 30px;
	max-width: 900px;
	label{
		font-weight: 400;
	}
	.comment-form-comment{
		margin: 40px 0 20px;
	}
	.comment-form-author,.comment-form-email,.comment-form-url{
		margin-bottom: 40px;
	}
	.form-submit{
		clear: bold;
		margin-top: 40px;
		margin-bottom: 40px;
	}
}
.comment-reply-title{
	small > a{
		text-transform: none;
	}
}
.post-navigation{
	.fa{
		margin: 5px;
		font-size: 17px;
	}
}
.posts-grid{
	article.post{
		.entry-title{
			margin-bottom: 8px;
		}
	} 
}