/* block */

.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    position: relative;
    padding: $block-module-padding;
    background: transparent;
    border-width: 0;
    border-style: solid;
    .#{$block-heading-selector}{
        color: $block-module-heading-color;
        padding: $block-module-heading-padding;
        margin: $block-module-heading-margin;
        font-size: $block-module-heading-font-size;
        font-weight: $block-module-heading-font-weight;
        position: relative;        
    }
    .#{$block-content-selector} {
        @include border-radius ($block-module-content-radius);
        @include clearfix();
        border: none;
        border-top: none;
        background-color: $block-module-content-bg;
    }
    .#{$block-heading-reversed-selector}{
        @include rtl-margin-right(75px);
    }
}
.sidebar{
    .widget_nav_menu{
        padding-left: 30px;
        ul.sub-menu{
            padding-left: 20px;
        }
    }
    aside {
        margin-bottom: 56px;
    }
    .widget { 
        .#{$block-heading-selector}{
            border-bottom: $block-sidebar-hightlight-border;
            color: $block-sidebar-heading-color;
            font-size: $block-sidebar-heading-hightlight-font-size;
            font-weight: $block-sidebar-heading-hightlight-font-weight;
            text-transform: $block-sidebar-hightlight-transform;
            margin-bottom: $block-sidebar-heading-hightlight-margin;
            padding-bottom: 15px;
        }     
        ul.children{
            @include rtl-padding-left(15px);
        }    
    }
    .pbr-search{
        position: relative;
        @include flexbox();
        .input-group-addon{
            border: none;
            padding: 0;
            position: relative;
            input{
                background: transparent;
                border: none;
                padding: 2px 18px;
                position: absolute;
                right: 0;
                height: 40px;
                font-family: "ionicons";
                font-size: 26px;
                top: 0 !important;
                z-index: 9; 
            }
            .icon-search{
                background: url("#{$image-theme-path}icon-search.png") no-repeat;
            }
        }
    } 
    .widget_price_filter .price_slider_wrapper{
        .ui-slider{
            height: 2px !important;
        }
        .ui-slider-handle{
            background-color: $link-hover-color !important;
            top: -0.5em !important;
            border-radius: 0;
        }
        .ui-slider-range{
            background-color: $link-hover-color !important;
            height: 2px !important;
        }
    }
    /**
     * Widget product categories
     */
    .product-categories{
        .cat-item{
            .children{
                display: block !important;
            }
        }
        .closed,.opened{
            display: none !important;
        }
        .children{
            a{
                color: $light-gray;
                text-transform: none;
                &:hover{
                    color: $gray-darker;
                    &:after{
                        background-color: $gray-darker;
                    }
                }
                &:after{
                    background-color: $light-gray;
                    content: "";
                    left: -15px;
                    position: absolute;
                    top: 16px;
                    @include size(6px, 1px);
                }
            }
        }
    }
    .widget_categories {
        > ul {
            color: $light-gray;
            clear: both;
            overflow: hidden;
            font-size: $font-size-base;
            > li {
                clear: both;
                list-style: none;
                position: relative;
                text-indent: 0;
                display: block;
                text-align: right;
                overflow: hidden;
                > a {
                    float: left;
                }
                &:last-child {
                    border-bottom: none;
                }
                .children{
                    li{
                        > a {
                            float: left;
                        }
                    }
                }
            }
        }
    }
    .widget_archive{
        > ul{
            > li{
                clear: both;
                list-style: none;
                position: relative;
                text-align: right;
                overflow: hidden;
                > a {
                    float: left;
                }
            }
        }
    }
    .form-control{
        height: 40px;
    }
    .tagcloud{
        a{
            background: transparent;
            color: $light-gray;
            font-size: $font-size-base + 1 !important;
            padding: 1px 5px 0;
            text-transform: none;
            &:hover{
                color: $gray-darker;
            }
        }
    }
    .widget_pbr_recent_post{
        .entry-title{
            font-size: $font-size-base;
            margin-top: 2px;
            a{
                color: $light-gray;
                font-weight: 500;                
                position: relative;
                &:hover{
                    color: $gray-darker;
                }
            }
        }
        .post-date{
            color: #999;
            margin-right: 8px;
            font-size: 13px;
            padding-right: 10px;
            position: relative;
            &:after{
                background: #999;
                content: "";
                position: absolute;
                top: 3px;
                right: 0;
                @include size(1px,12px);
            }
        }
        .post-author{
            font-size: 13px;
            a{
                color: #999;
            }
        }
    }
}
.sidebar-right{
    .input-group-addon{
        border: none;
    }
    .widget_search{
        .widget-title{
            display: none;
        }
    }    
    .widget_products .product_list_widget{
        .amount{
            font-family: $font-family-base;
        }
        del,ins{            
            top: -19px;
            position: relative;
        }
    }
    .widget_recent_entries{
        ul > li {
            list-style-type: square;
            font-size: $font-size-base + 2;
            @include rtl-margin-left(20px);
        }
    }
}
.widgettitle,
.wpb_heading {
    color: $block-sidebar-heading-color;
    font-size: $block-sidebar-heading-font-size;
}
// Contextual variations
 
.#{$block-prefix}-default {
 // @include block-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.#{$block-prefix}-primary {
  @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.#{$block-prefix}-success {
  @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.#{$block-prefix}-info {
  @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.#{$block-prefix}-warning {
  @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.#{$block-prefix}-danger {
  @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}
 
.pbr-footer{
    .container{
        @media (max-width: $screen-sm){
            margin: 0 15px;
        }
    }
    .#{$block-selector} {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
        font-weight: 400;
        .#{$block-heading-selector}{
            padding: 0 0 16px;
            margin: 13px 0;
            font-size: 14px;
            text-align: left;
            > span {
                &:before,&:after{
                    @include size(0, 0);
                }
            }
        }
        .wpb_heading{
            padding-bottom: 10px;
        }        
        ul {
            li{
                border-bottom: none;
                margin-bottom: 7px;
                padding: 2px 0;
                position: relative;
            }
        }
        &.widget_text {
            .textwidget {
                padding: 0;
            }
        }
        &.widget_sp_image{
            margin-bottom: 10px;
        }
    } 
    &.footer-v1{
        .#{$block-selector}{
            a {
                color: $footer-link-color;
                &:hover {
                    color: $footer-link-hover-color; 
                }
            }
        }
        .widget-social{
            margin-top: 4px;
            li{
                margin: 0 10px;
                i{
                    color: $footer-color;
                    font-size: $font-size-base + 2;
                    &:hover{
                        color: #999;
                    }
                }
            }
            .style-v1{
                margin-bottom: 12px;
                justify-content: center;
                @include flexbox();
                span{
                    display: none;
                }
            }
        }  
    }
    &.footer-v2{        
        .#{$block-selector}{
            a {
                color: $gray-light;
                &:hover {
                    color: #ddd; 
                }
            }
        }
        strong{
            color: #aaa;
        }
    }
    &.footer-v3{
        .#{$block-selector}{
            a {
                color: $gray-light;
                &:hover {
                    color: #ddd; 
                }
            }
        }
        strong{
            color: #ddd;
        }        
    }
    .widget-social{
        margin-top: 4px;
        li{
            margin: 0 10px;
            i{
                color: #777777;
                font-size: $font-size-base + 2;
                &:hover{
                    color: #ddd;
                }
            }
        }
        .style-v1{
            margin-bottom: 12px;
            @include flexbox();
            span{
                display: none;
            }
        }
    } 
    .wpb_single_image{
        .vc_single_image-wrapper {
            background-color: transparent;
        }
    }
    .vc_custom_heading {
        margin-top: 9px !important;
        text-transform: none;
    }
    .footer-custom{
        background: transparent !important;
        border-color: transparent !important;
        padding: 0 !important;
        .vc_custom_heading{
            padding-bottom: 13px;
        }
        .vc_btn3{
            background: transparent !important;
            font-weight: 700;
            padding-left: 0;
            text-transform: uppercase;
        }
    }
}
#menu-footer-menu{
    padding-bottom: 4px;
    text-align: center;
    li{
        display: inline-block;
        margin: 0 20px 6px;
        @media (max-width: $screen-lg){
            margin: 0 10px 6px;
        }
    }
}
.blog_content{    
    position: relative;   
    .entry-content{
        background: $white; 
        @include transition(all 0.4s ease-in-out);
        @include box-shadow(6px 6px 30px rgba(0,0,0,.1));
        @media (min-width: $screen-lg){
            position: absolute;
        }        
    }
    .author-time{
        @include flexbox();
    }
    .entry-description{
        margin-top: 20px;        
        line-height: 26px;
        overflow: hidden;
        @media (min-width: 1680px){
            min-height: 78px;
        }
        @media (min-width: $screen-lg) and (max-width: 1680px){
            min-height: 55px;
            max-height: 55px;
        }
        @media (min-width: $screen-md) and (max-width: $screen-lg){
            min-height: 105px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md){
            min-height: 130px;
        }
        @media (max-width: $screen-sm){

        }
    }    
}
.frontpage-3{
    article.post{
        .entry-title{
            font-size: $font-size-base + 4;
            font-weight: 500;
        }
    }
    .blog_content{        
        @media (min-width: 1680px){
            margin-bottom: 170px;
        }
        @media (min-width: 1360px) and (max-width: 1680px){
            margin-bottom: 190px;
        }
        @media (min-width: $screen-lg) and (max-width: 1360px){
            margin-bottom: 220px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-lg){
            margin-bottom: 40px;
        }
        .entry-content{   
            @media (min-width: $screen-sm){
                padding: 14px 30px 40px 30px;
            }
            @media (min-width: 1680px){
                min-height: 205px;
                top: 325px; 
            }
            @media (min-width: 1360px) and (max-width: 1680px){
                top: 280px;
            }
            @media (min-width: $screen-lg) and (max-width: 1360px){
                top: 270px;
            }
            @media (min-width: $screen-md) and (max-width: $screen-lg){
                top: 150px;
            }
            @media (min-width: $screen-sm) and (max-width: $screen-md){
                padding: 10px 10px 30px;
            }
            @media (max-width: $screen-sm){
                padding: 20px;
            }
        }
        &:hover{
            .entry-content{
                @media (min-width: 1680px){
                    min-height: 205px;
                    top: 360px; 
                }
                @media (min-width: $screen-lg) and (max-width: 1680px){
                    top: 300px;
                }
                @media (min-width: $screen-md) and (max-width: $screen-lg){
                    top: 170px;
                }
            }        
        }
    }
}
.frontpage-9{
    article.post{
        .entry-title{
            font-size: $font-size-base + 4;
            font-weight: 500;
        }
    }
    .blog_content{        
        @media (min-width: 1680px){
            margin-bottom: 260px;
        }
        @media (min-width: 1360px) and (max-width: 1680px){
            margin-bottom: 225px;
        }
        @media (min-width: $screen-lg) and (max-width: 1360px){
            margin-bottom: 240px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-lg){
            
        }
        .entry-content{   
            @media (min-width: 1680px){
                padding: 20px 30px 30px 30px;
                min-height: 290px;
                top: 250px; 
            }
            @media (min-width: 1360px) and (max-width: 1680px){
                padding: 15px 10px 30px 15px;
                min-height: 255px;
                top: 200px;
            }
            @media (min-width: $screen-lg) and (max-width: 1360px){
                min-height: 250px;
                padding: 15px 10px 30px 15px;
                top: 200px;
                .readmore{
                    bottom: 30px;
                    position: absolute;
                }
            }
            @media (min-width: $screen-md) and (max-width: $screen-lg){
                min-height: 240px;
                padding: 15px 10px 30px 15px;
            }
            @media (min-width: $screen-sm) and (max-width: $screen-md){
                padding: 15px 10px 30px 15px;
            }
            @media (max-width: $screen-sm){
                padding: 15px 10px 30px 15px;
            }
        }
        .entry-description{
            @media (min-width: $screen-md) and (max-width: $screen-lg){
                min-height: 48px;
                overflow: hidden;
                max-height: 48px;
            }
        }
        &:hover{
            .entry-content{
                @media (min-width: 1680px){
                    top: 270px; 
                }
                @media (min-width: $screen-lg) and (max-width: 1680px){
                    top: 220px;
                }
            }        
        }
    }
}