/*------------------------------------*\
    Mini Cart
\*------------------------------------*/
#tab-reviews{
    .media-body{
        width: 1000px;
    }
}
.pbr-topcart{
    .dropdown{
        &.open{
            .mini-cart{
                &:before{
                    content:"";
                    background:transparent;
                    position:absolute;
                    top: 0;
                    @include rtl-left(0);
                    @include size(100%, 200px);
                }
            }
        }
    }
    .dropdown-menu{
        top: 50px;
        padding: 15px;
        min-width: $mini-cart-dropdown-size;
        display: block;
        visibility: hidden;
        @include rtl-text-align-left;
        @include rtl-left(auto);
        @include rtl-right(0);
        @include box-sizing(border-box);
        @include opacity(0);
        @include scale(0);
        @include transition(all 300ms cubic-bezier(0.34, 1.61, 0.7, 1));
        &:before,
        &:after{
            content: "";
            @include inline-block();
            position: absolute;
            @include rtl-left(100%);
            @include rtl-margin-left(-7%);
        }
        &:before{
            top: -11px;
            border-bottom: 11px solid rgba($black, 0.2);
            border-left: 11px solid rgba($black, 0);
            border-right: 11px solid rgba($black, 0);
        }
        &:after{
            top: -10px;
            border-bottom: 11px solid $white;
            border-left: 11px solid rgba($black, 0);
            border-right: 11px solid rgba($black, 0);
        }
        .quantity{
            font-size: $font-size-base;
        }
    }
    .media{
        border-bottom:solid 1px $border-color;
        padding:  0px 0 5px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .open{
        .dropdown-menu{
            @include scale(1);
            @include opacity(1);
            @include transform-origin(29px, -50px);
            @include filter(none);
            visibility: visible;
        }
    } 
    .buttons{
        margin-top: 25px;
        &.woocommerce-mini-cart__buttons{
            .checkout{
                margin-left: 10px;
            }
        }
    }
}
#pbrloginform{
    margin-top: 30px;
}   
.user-out{
    position: relative;
    .dropdown-toggle{
        cursor: pointer;
        span{
            display: none;
        }
    }
    .dropdown-menu{
        a{
            padding: 0 20px;
            display: block;
        }
    }
    .icon-users{
        margin-left: 12px;
    }   
}
.user-login{
    position: relative;
    font-weight: 300;
    margin-bottom: 3px;
    .dropdown-toggle{
        cursor: pointer;
    }
    .dropdown-menu{
        li > a{
            font-weight: 300;
        }
    }
    .fa{
        width: 20px;
    }
    span, .opal-user-register{
        color: $gray-darker;
    }
    .icon-users{
        margin: 0 5px 0 12px;
    }
}
.icon-users{
    background: url("#{$image-theme-path}icon-user.png") no-repeat;
    display: inline-block;    
    position: relative;
    top: 0;
    @include square(26px);
}
.icon-bars{
    background: url("#{$image-theme-path}icon-navbar.png") no-repeat;
    cursor: pointer;
    display: inline-block;    
    @include square(25px);
}
.search-popup{
    position: relative;
    @include square(30px);
    .icon-search{
        background: url("#{$image-theme-path}icon-search.png") no-repeat;
        left: 0;
        position: absolute;
        @include square(26px);
    }
}
#cart{
    font-style: normal;
    font-size: 12px;
    font-family: $font-family-base;
    .mini-cart{
        > * {
            text-transform: none;
            font-weight: 400;
            text-transform: uppercase;
        }
        .title-cart{
            @include font-size(font-size, 10px);
            line-height: 1;
            color: #222;
            display: none;
        }
        .amount{
            @include rtl-margin-left(10px);
        }
    }
    .mini-cart-items{
        color: $gray-darker;
        display: inline-block;
        left: 28px;
        position: absolute;
        bottom: 2px;
        line-height: 18px;
        text-align: center;
        font-weight: 300;
        @include size(18px,18px);
        @include rounded-corners(50px);
        em{display: none;}
    }
    .mini-cart-total{
        span{display: none;}
    }
    .cart-icon{
        //background: url("#{$image-theme-path}icon-shopping.png") no-repeat;
        display: inline-block;
        margin: 0px 10px;
        @include size(26px,30px);
        i{
            font-size: 22px;
        }
    }
}
.btn-outline-cart{
  font-weight: 400;
  font-size: $font-size-base;
  @include transition(all 0.3s ease 0s);
  text-align: center;
  padding: 10px 20px;
  &.view-cart{
    border: 1px solid #e4e4e4;
    background: transparent;
    color: $black;
    &:hover{
      border: 1px solid $link-hover-color;
      background: $link-hover-color;
      color: $white;
    }
  }
  &.checkout{
    border: 1px solid $link-hover-color;
    background: $link-hover-color;
    color: $white;
    &:hover{      
      border-color: #e4e4e4;
      background: transparent;
      color: $black;
    }
  }
}

///// Elements Styles //////////////// ////////////// ////////////// ////////////// ////////////// ////////////// //////////////

.productinfo-show-discounts {
    font-size: $font-size-base - 2;
    margin: 20px 0!important;
    @include rtl-padding-left(75px);
    position: relative;
    color: #666;
    &:before {
        background:  url('#{$image-theme-path}icon-show-discounts.png') no-repeat center center $brand-success;
        @include size (36px,36px);
        @include border-radius(50%);
        position: absolute;
        @include rtl-left(20px);
        top: 20px;
        content: "";
    }
      padding: $alert-padding;
      margin-bottom: $line-height-computed;
      border: 1px solid transparent;
      border-radius: $alert-border-radius;

    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
 
     ul {
        list-style: none;
        @include rtl-padding-left(60px);
        li {
             padding:  3px 0;
             &:before {
                 content: "\f14a";
                 font-family: "FontAwesome";
                 color: $brand-success;
                 @include rtl-padding-right(8px);
            }
        }
    }
}

//reviews
#reviews{
    h5 {
        color: #666;
    }

    .reviews-summary {
        padding: 15px 0 50px;
        .review-summary-total{
            text-align: center;
            font-weight: 600;
            .review-summary-result {
                @include size(90px, 90px);
                text-align: center;
                border: 2px solid $link-hover-color;
                background-color: $link-hover-color;
                line-height: 90px;
                font-size: 24px;
                color: #fff;
                font-family: $headings-font-family;
                @include border-radius(50%);
                margin-bottom: 8px;
            }
        }
        .review-summary-detal {
            overflow: hidden;
            display: block;
            .review-label{
                color: $black;
                font-weight: 400;
            }
            .progress {
            }
        }
    }
    .comments{
        border-top: 1px solid $border-color;
        padding: 20px 0;
        .commentlist {
            padding: 15px 0;
            .comment {
                margin-bottom: 30px;
            }
            .pbr-avata{

                .pbr-image {
                    @include rtl-margin-right(20px);
                    > span {
                        display:  block;
                        margin-bottom: 5px;
                    }
                    .avatar {
                        @include border-radius(50%);
                    }
                }
                .pbr-author {
                    color: $black;
                    padding-top: 10px;
                    font-weight:  600;
                }
            }
            .comment-text {
                border: 1px solid $border-color;
                padding:  15px 30px;
                @include border-radius( 3px);
                > div {
                    margin-bottom: 7px;
                }
                .meta {
                    color: $light-gray;
                }
            }
        }
    }
    .progress{
        margin-bottom: 12px;
    }
    .heading-reviews {
        border-bottom: 1px solid $border-color;
        span {
            padding: 10px 0;
            border-bottom: 2px solid $theme-color;
            display: inline-block;
            margin-bottom: -1px;
        }
    }
    .comment-reply-title {       
        line-height: 24px;
        padding: 10px 0;
        position: relative;
    }
    .icon-star{
        @include size(90px, 90px);
        text-align: center;
        border: 2px solid $link-hover-color;
        color: $theme-color;
        line-height: 90px;
        @include border-radius(50%);
        @include rtl-margin-right(30px);
        position:  relative;
        &:before {
            color: $theme-color-second;
            content: "SSSSS";
            @include rtl-float-left();
            left: 0;
            position: absolute;
            top: 35px;
            right: 0;
            bottom: 0;
            margin: auto;
            font-family: "star" !important;
            font-size: $font-size-base - 2;
            letter-spacing: 3px;
        }
    }
    .media{
        margin-top: 0;
    }
}

/// onsale
.woocommerce ,
.product-block{ 
    span.onsale{
        background-color: $white;
        color: #222;
        left: inherit;
        right: 10px;
        font-size: $font-size-base;
        font-weight: 400;
        line-height: inherit;
        min-width: 69px;
        min-height: 30px;
        position: absolute;
        padding: 5px 10px;
        text-transform: uppercase;
        text-align: center;
        top: 10px;
        z-index: 99;
        @include border-radius(0);
        @include box-shadow(-2px 1px 2px rgba(0,0,0,.1));
        @include size(69px,30px);
    }
}

/// Price
.price{
    font-family: $font-family-base;
    > * {
        span{
            @include inline-block();
        }
        color: $product-price-color;
        font-size: $product-price-font-size;
        font-weight: $product-price-font-weight;
    }
    & > del{
        color: $product-price-old-color;
        font-size: $product-price-font-size;
        @include rtl-margin-right(10px);
        @include rtl-text-align-left();
        span{
            text-decoration: line-through;
            font-weight: 300;
        }
    }
    & >  ins{
        color: $link-hover-color;
    }
}

// star rating
.star-rating{
    font-size: 10px!important;
    height:  12px!important;
    margin-bottom: 0!important;
    font-family: star;
    overflow: hidden;
    position: relative;
    display: inline-block!important;
    &:before {
        content: "\53\53\53\53\53";
        color: #d5d5d5;
    }
    span{
        float: none!important;
        left: 0;
        overflow: hidden;
        padding-top: 1.5em;
        position: absolute;
        top: 0;
    }
    span:before {
        content: "\53\53\53\53\53";
        color: $theme-color-second;
        left: 0;
        position: absolute;
        top: 0;
    }
}   
////////// Pages Styles ////////////// ////////////// ////////////// ////////////// ////////////// ////////////// //////////////
/**
 * Product Single Page
 */
 
.product-block{
    position: relative;
    margin-bottom: 30px;
    display: block;
    .image{
        position: relative;
        text-align: center;
        overflow: hidden;
        img{
            height: auto;
            width: 100%;  
            @include transition(all 0.4s ease 0s);
        }
        a,.product-image{
            display: block;
            overflow: hidden;
            position: relative;
        }
        .image-effect{
            top: 0;
            position: absolute;
            overflow: hidden;
            @include rtl-left(0);
            @include opacity(1);
            @include translate(-100%, 0px);
            @include transition(all 0.3s);
        }
        .image-hover{
            @include transition(all 0.3s );
        }
        &:hover{
            .image-effect{
                @include translate(0px,0px);
            }
            .image-hover{
                @include translate(100%, 0px);
            }
        }
        .yith-wcwl-add-to-wishlist{
            a span{
                display: none;
            }
        }
    } 
    .meta {
        position: relative;
        text-align: left;
    }
    .name{
        line-height: 30px;
        font-size: $product-name-font-size;
        font-weight: $product-name-font-weight;
        margin: 0;
        padding: 16px 0 2px;
        text-transform: none;
    }  
    .category{
        text-transform: none;
        font-weight: $product-category-font-weight;
        font-style: $product-category-font-style;
        @include font-size(font-size, $product-category-font-size);
        a{
            color: $product-category-color;
            &:hover{
                color: $product-category-hover-color;
            }
        }
    }
    .rating{
        overflow: hidden;
        line-height: 1;
    } 
    .price{
        ins{
            font-weight: 400 !important;
        }
    }
    .add_to_cart_button{
        position: relative;
        &.loading{
            .title-cart{
                visibility: hidden;
                &:after{
                    visibility: visible;
                    content: "Loading...";
                    position: absolute;
                    top: 9px;
                    left: 5px;
                    width: 100%;
                    text-align: center; 
                }    
            }
        }
    }
    .yith-wcwl-add-to-wishlist{
        .icon-wishlist{
            bottom: 12px;
            background: url("#{$image-theme-path}icon-wishlist.png") no-repeat 0 1px;
            @include size(24px,25px);
            @include center-block-style();
        }
    }
    .quick-view{
        text-align: center;
        .icon-quickview{
            bottom: 12px;
            background: url("#{$image-theme-path}icon-search.png") no-repeat 0 1px;
            @include size(24px,25px);
            @include center-block-style();
        }
    }
    &:hover{
        .name{
            &:before{
                @include size(100% , 1px);
                background-color: $theme-color;
            }
        }
        .image img{
            transform: scale(1.1);
        }
    }
}

/**
 * Products Listing In Grid Style
 */
.products-grid{
    .product-block{
        position: relative;
        &:hover{
            @media (min-width: $screen-sm){
                .button-action {
                    opacity: 1;
                    transform: translate(0px, 0px);
                }
            }
            .button-action .button-groups > div a{
                @include border-radius(0);
                @include transform(scale(1) rotate(0deg));
            }
            .button-action{
                .button-groups{
                    > div{
                        .yith-wcwl-wishlistaddedbrowse,
                        .yith-wcwl-wishlistexistsbrowse{ 
                            .feedback{
                                @include border-radius(0);
                                @include transform(scale(1) rotate(0deg));
                            }

                        }
                    }
                }
            }                    
        }
        .button-action{
            position: absolute;
            bottom: 0;
            right: 10px;
            z-index: 99;
            .button-groups{
                position: relative;
                padding: 17px 0;
                flex-direction: column;
                @include flexbox();
                > div{ 
                    position: relative;
                    margin: 0;
                    &.yith-wcwl-add-to-wishlist{
                        @include transition-delay(0.2s, 0s);
                        span{
                            display: none;
                        }
                        .ajax-loading {
                            position: absolute;
                            left: 4px;
                            top: 5px;
                        }
                    } 
                    &.yith-compare{
                        @include transition-delay(0.3s, 0s);
                        .compare.added {
                            overflow: hidden;
                            color: transparent!important;
                            &:before{
                                bottom: 12px;
                                content: "\f0ec";
                                font-family: 'FontAwesome';
                                position: absolute;
                                color: #9f9f9f!important;
                                @include size(36px, 20px);
                            }
                        }
                    } 
                    &.quick-view{
                        @include transition-delay(0.4s, 0s);   
                    }
                    &:last-child{
                        @include rtl-margin-right(0);
                    }
                    .title{
                        display: none;
                    }
                    a{
                        background-color: $white;
                        
                        padding: 25px;
                        margin-bottom: 6px;
                        @include border-radius(50px);
                        @include transform(scale(0) rotate(250deg));
                        @include box-shadow(1px 1px 4px rgba(0,0,0,.1));
                        @include transition(all 0.35s ease 0.2s);
                    }
                    .yith-wcwl-wishlistaddedbrowse,
                    .yith-wcwl-wishlistexistsbrowse{ 
                        .feedback {
                            background: $white;
                            color: transparent;
                            cursor: no-drop; 
                            display: block;
                            margin-bottom: 6px;
                            overflow: hidden;
                            position: relative;
                            text-indent: -999px;
                            @include border-radius(50px);
                            @include box-shadow(1px 1px 4px rgba(0,0,0,.1));
                            @include transform(scale(0) rotate(250deg));
                            @include transition(all 0.35s ease 0.2s);
                            @include size(100%, 50px);
                            &:before{
                                bottom: 12px;
                                content: "";
                                background: url("#{$image-theme-path}icon-wishlist.png") no-repeat;
                                @include square(25px);
                                @include center-block-style(); 
                            }
                        }
                        a {
                            display: none!important;
                        }
                    }
                    &.add-cart {
                        .product_type_variable,
                        .product_type_external,
                        .product_type_simple,
                        .add_to_cart_button,
                        .product_type_grouped {
                            position: relative;
                            &:before{
                                bottom: 12px;
                                content: "";
                                background: url("#{$image-theme-path}icon-shopping.png") no-repeat 0 -1px;
                                @include size(24px,25px);
                                @include center-block-style();                                
                            }
                            .title-cart {
                                display: none;
                            }
                        }
                    }
                    &.clear{
                        display: none;
                    }
                }
            }
        } 
        .time{
            position: absolute; 
            bottom: 45%;
            margin: auto;
            max-width: 184px;
            left: 0;                  
            right: 0;
            .countdown-times{
                background: $white;                
                padding: 15px;
                justify-content: space-between;
                @include box-shadow(1px 1px 4px rgba(0,0,0,.1));
                @include flexbox();
                div{
                    color: $gray-darker;
                    height: 20px;
                    font-size: 0;
                    position: relative;
                    b{
                        font-size: $font-size-base + 2;
                        font-weight: 300;
                    }
                    &:after{
                        background: #333;
                        content: "";
                        top: 7px;
                        position: absolute;
                        right: -12px;
                        z-index: 9;
                        @include square(2px);
                    }
                    &:before{
                        background: #333;
                        content: "";
                        bottom: 5px;
                        position: absolute;
                        right: -12px;
                        z-index: 9;
                        @include square(2px);
                    }
                    &:last-child{
                        &:after,&:before{
                            display: none;
                        }
                    }
                }
            }
        }
        .caption{
            
        }
        .rating{
            display: none;
        }
    } 
    &.products-special {
        .product-block {
            padding: 22px 20px;
            width: 100%;
            display: inline-block;
            .image{
                position: relative;
                @include rtl-float-right();
                width: 55%;
                @media (min-width: $screen-md){
                    margin-top: -35%;
                }
                @media (max-width: $screen-md){
                    margin-top: -28%;
                }
                @media (max-width: $screen-sm){
                    margin-top: -16%;
                }
                @media (max-width: $screen-xs){
                    margin-top: -20%;
                }
            }
            span.onsale {
                right: 0;
                 top: 0;
                left: inherit;
            }
            .meta {
                position: relative;
                z-index: 1;
                width: 58%;
                @include rtl-text-align-left();
            }
           .price{
                ins, del{
                    display: block;
                }
            }
            &:hover{
                .price{
                    @include opacity(1);
                    visibility: visible;
                }
            }
        } 
    }
}

.products-list{
    .product-block{
        border-bottom:solid 1px $border-color;
        padding-bottom: 20px;
        .name{
            text-transform: uppercase;
            font-weight: 700;
            margin-top: 0;
        }
        .rating{
            margin: 10px 0;
        }
        .add-cart{
            a{  
                border: 1px solid $link-hover-color;
                padding: 14px 53px;
                margin-right: 10px;
                @include  transition(all 0.3s ease);
                &:hover{
                    background: transparent;
                    border-color: $link-hover-color;
                    color: $link-hover-color;                    
                }
            }
        }
        .button-action{
            display: flex;
            margin-top: 30px;
        }
        .quick-view{
            position: relative;
        }
        .yith-wcwl-add-to-wishlist a, .quick-view a{
            border: 1px solid $border-color;
            border-radius: 0;
            display: block;
            padding: 12px 0;
            margin: 0 10px;
            @include size(50px,50px);
            &:hover{
                border-color: $link-hover-color;
            }
        }
        .yith-wcwl-add-to-wishlist{
            span{
                display: none;
            }
        }
        .yith-wcwl-wishlistaddedbrowse,
        .yith-wcwl-wishlistexistsbrowse{ 
            .feedback {
                display: none;                
            }
        }
        div[class*="add-to-wishlist"]{
            margin-top: 0;
            position: relative;
            .ajax-loading{
                bottom: 0;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
     .row:last-child .product-block{ border-bottom:none; }
}

ul.pbr-w-products-list{
    .product-block{
        padding: 10px 0;
        margin-top: 0;
        margin-bottom: 0;
        .name{
            margin-bottom: 0;
            margin-top: 0;
            overflow: hidden;
        }
        img{
            max-width: 65px;
            @include rtl-margin-right(10px);
        }
    }

}
/**
 * Single product
 */
.single-product{
    .product{
        .carousel-controls{
            display: none;
        }
    }
    .zoomContainer{
        z-index: 99;
    }
    .imagezoom.active{
        border: 1px solid $link-hover-color;
    }
    &.woocommerce {
        .product-detail{
            margin: 0 0 40px;
            .onsale{
                display: none;
            }
            @media (max-width: 990px){
                .col-lg-9{
                    width: 80%;
                    float: left;
                }
                .col-lg-3{
                    width: 20%;
                    float: left;
                }
            }
        } 
        .summary.entry-summary{
            .product_title{
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
                @include rtl-text-align-left();
            }
            .price{
                    margin-bottom: 15px;
                    font-family:  $font-family-base;
                    @include rtl-text-align-left();                    
                > * {
                    font-size: $font-family-base - 1;
                    font-weight: 400;
                    font-family: $font-family-base;
                }

                del {
                    font-size: $font-family-base - 1;
                    opacity: 0.7;
                    @include rtl-margin-right(10px);
                }
            }
            .woocommerce-product-details__short-description{
                margin: 28px 0 40px;
                font-size: $font-size-base;
            }
            p{
                color: #565656;                
                font-family: $font-family-base;
                text-align: justify;
            }
            form{
                margin-top: 0 !important;
            }
            .description{
                margin-bottom: 20px;
            }
            .yith-wcwl-add-to-wishlist,.compare{
                display: none;
            }
            .clear{
                display: none;
            }
            .product_meta {
                margin-top: 0;
                margin-bottom: 30px;
                padding-top: 20px;
                font-size: 12px;
                font-weight: 400;
                > span {
                    display:  block;
                    font-weight: 600;
                    text-transform: uppercase;
                    a{
                        font-weight: 400;
                        text-transform: none;
                    }
                }
            }
            .productinfo-free-gift {
                font-size: $font-size-base - 2;
                @include rtl-text-align-left();
                .gifts-icon {
                    .fa {
                        @include rtl-margin-right(10px);
                        @include border-radius(50%);
                        @include size (36px,36px);
                        background-color: $brand-danger;
                        color: $white;
                        font-size: 18px;
                        line-height: 36px;
                        text-align: center;
                    }
                }
                .gift-content {
                    h5{
                        text-transform: uppercase;
                         margin-top: 0;
                    }
                    .product-gift {
                        font-weight: 600;
                        padding:  3px 0;
                        .fa{
                            @include rtl-margin-right(5px);
                        }
                        a{
                            font-weight: 300;
                            color: #666;
                            &:hover{
                                color: $brand-danger;
                            }
                        }
                    }
                }
            }
            form.cart {
                div.quantity{
                    margin-bottom: 20px;
                    float: none;
                }
                .button{
                    font-size: $font-size-base;
                    font-weight: 700;
                    background: $link-hover-color;
                    @include size(200px, 50px);
                    text-align: center;
                    color: $white;
                    border: 1px solid $link-hover-color;
                    @include transition(all 0.3s ease 0s);
                    &:hover{
                        background: transparent;
                        color: $link-hover-color;
                    }
                }
            }
            form.cart .variations {
                .reset_variations{
                    display: none;
                }
            }
            .product_ctn_share{
                h6{
                    margin-right: 10px;
                }
            }
        }
        #review_form{
            .comment-form-comment{
                max-width: 584px;
            }
            .form-submit{
                clear: both;
                padding-top: 15px;
            }
        }
        #image-additional-carousel {
            position: relative; 
            float: left;   
            @media (min-width: 1680px){
                width: 135px;                
            }  
            @media (min-width: 1360px) and (max-width: 1680px){
                width: 110px;
            }    
            @media (min-width: 1030px) and (max-width: 1360px){
                width: 96px;
            } 
            @media (min-width: 990px) and (max-width: 1030px){
                width: 80px;
            }  
            @media (min-width: 480px) and (max-width: 990px){
                width: 132px;
            }       
            @media (max-width: 480px){
                width: 55px;
            }    
            .owl-item{
                .imagezoom{                    
                    @media (min-width: 1680px){
                        width: 127px !important;
                    }
                    @media (min-width: 1360px) and (max-width: 1680px){
                        width: 106px !important;
                    }    
                    @media (min-width: 1030px) and (max-width: 1360px){
                        width: 94px !important;
                    } 
                    @media (min-width: 990px) and (max-width: 1030px){
                        width: 75px !important;
                    }
                    @media (min-width: 480px) and (max-width: 990px){
                        width: 132px !important;
                    }
                    @media (max-width: 480px){
                        width: 53px !important;
                    }
                }
            }
            .owl-wrapper-outer {
                .hitem{
                    margin-top: -5px;
                    margin-bottom: -5px;
                    a{
                        margin-top: 5px;
                        margin-bottom: 5px;
                        display: inline-block;
                    }
                }
            }
        }
        .pbr-breadscrumb{
            background-color: #eee;
            background-image: none !important;
            color: $gray-dark;
            font-size: $font-size-base;
            padding: 12px 0;
            text-align: left;
            text-transform: none;
            height: auto;
            a{
                color: $gray-dark;
                text-transform: none;
            }
        }
        .breadcrumb{
            li{
                &.active{
                    display: none;
                }
            }
        }
    }   
    .owl-carousel-play {
        .carousel-controls{
            .carousel-control{
                border: 1px solid #ebebeb;
                line-height: 0;
                padding: 2px 0;
                width: 30px;
                text-shadow: none;
                i{
                    color: #666;
                }
                &:hover{
                    i{
                        color: $link-hover-color;
                    }
                }
            }
            .left{
                left: 20px;
                z-index: 9;
            }
            .right{
                bottom: 0;
                right: 20px;
            }
        }
    }
    .related-products{
        margin-top: 70px;
        text-align: center;
        .widget-title{
            padding-bottom: 28px;
            span:after{
                background: transparent;
            }
        }
    }
}
#single-product{
    &.woocommerce{
        .entry-summary{
            form.cart{
                div.quantity{
                    float: none;
                    margin-bottom: 20px;
                }
            }
        } 
    }
}
.product-carousel{
    .carousel-controls-v3 {
        &.carousel-controls{
            opacity: 1;
            visibility: visible;
        }
        .carousel-control {
            color: $bo-carousel-controls-v3-color;
            border: none;       
            z-index: 9;
            margin-top: 0px;
            background: $bo-carousel-controls-v3-bg;
            line-height: 26px;
            text-shadow: none;
            margin: auto;
            text-align: center;
            top: 30%;
            @include square(50px);
            @include box-shadow(2px 2px 9px rgba(0,0,0,.12));
            i{
                font-size: 25px;
                padding-top: 10px;
            }
            &.left{                
                @media (min-width: $screen-md){
                    left: -70px;
                }
                @media (max-width: $screen-md){
                    left: -25px;
                }
                @include transition( all 0.3s ease-out 0s);
                &:hover{
                    background: $very-dark-gray;
                    color: $white;
                    @include box-shadow(none);
                }
            }
            &.right{
                @media (min-width: $screen-md){
                    right: -70px;
                }
                @media (max-width: $screen-md){
                    right: -25px;
                }
                @include transition( all 0.3s ease-out 0s);
                &:hover{
                    background: $very-dark-gray;
                    color: $white;
                    @include box-shadow(none);
                }
            }
        }
    }
}
/**
 * Category And Listing Page
 */

 // styling sortorder and display mode
.products-top-wrap{
    background:$products-top-wrap-bg ;
    margin: 0 0 20px;
    font-family: $font-family-base;
    font-size: 14px;
    .woocommerce-ordering{
        margin: 9px 10px;
    }
    .display-mode{
        @include rtl-float-left();
        label{
            font-weight: normal;
            padding: 10px 20px;
            margin-bottom: 0;
            height: 48px;
        }
        .btn {
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
            border: none;          
            color: #b5b5b5;
            font-size: $font-size-base;
            padding: 0px;
            position: relative;
            @include size(50px,50px);
        } 
    }
}

.products-bottom-wrap{
    margin-bottom: 30px;
    .woocommerce-pagination{
        @include rtl-float-left();   
        line-height: 1;     
    }
    nav.woocommerce-pagination{
        ul,ul li{
            border:none;
            span.current{
                color: $theme-color;
                background-color: transparent;
            }
            a{
                &:hover{
                    color: $theme-color;
                    background-color: transparent;
                }
                &.prev,&.next {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            .page-numbers {
                @include size(18px, 18px);
                padding: 0;
                line-height: 18px;
                margin: 0 3px;
                background-color: transparent;
            }
        }
    }
    .woocommerce-result-count{
        @include rtl-float-right();
        margin: 0;
        color: #999;
        font-size: 12px;
    }
}
/////////

.woocommerce {
    .woocommerce-checkout{
        margin-bottom: 30px;
    }
    .category-banner{
        position: relative;
        &:before,&:after {
            bottom: 20px;
            content: "";
            left: 20px;
            @include opacity (0);
            position: absolute;
            right: 20px;
            top: 20px;
            @include transition (opacity 0.35s ease 0s, transform 0.35s ease 0s);
            z-index: 1;
        }
        &:before {
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            @include scale(0, 1);
        }
        &:after {
            border-left: 1px solid rgba(255, 255, 255, 0.4);
            border-right: 1px solid rgba(255, 255, 255, 0.4);
            @include scale(1, 0);
        }
        img {
            opacity: 1;
            @include transition (opacity 0.35s ease 0s);
        }
        &:hover{
            &:before, &:after {
                @include opacity (1);
                @include scale(1);
            } 
            img {
                @include opacity (0.85);
            }
        }
    }
    .term-description {
        display: none;
        padding-bottom: 20px;
        p{
            font-family: $font-family-base;
            font-size: $font-size-base + 2;
        }
    }
    .woocommerce-product-rating {
        margin-bottom: 20px!important;
        @include rtl-text-align-left();
        .star-rating {
            margin-top: 8px;
            font-size: 14px!important;
            height: 16px !important;
            float: none;
        }
    }
    .category-content{
        .childrens{
            overflow: hidden;
            margin-bottom: 0; 
            margin-top: 0;
            list-style: none;
            @include rtl-padding-left(0);
            ul{
                margin: 0;
                li.product-category {
                    line-height: 24px;
                    position: relative;
                    padding: 0 10px;
                    margin-bottom: 20px;
                    &:before{
                        position: absolute;
                        content: ".";
                        color: #999;
                        font-size: 20px;
                        top: 0;
                        @include rtl-left (0);
                    }
                    h3 {
                        font-family: $font-family-base;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        font-size: 14px;
                        text-transform: none;
                        color: #666;
                        margin: 7px 0;
                        font-weight: 400;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                    img{
                        display: none;
                    }
                }
            }
        }        
    }
    ul.product_list_widget {
        margin-top: 40px;
        li {
            padding: 10px 0;
            position: relative;
            a {
                font-size: $font-size-base + 4;
                font-weight: 400;
                margin-bottom: 7px;
            }
            img {
                @include rtl-float-left();
                @include rtl-margin (-25px, 15px, 0, 0);
                width: 125px;
                height: auto;
                box-shadow: none;
            }
            .amount{
                font-family: $font-family-base;
                color: $link-hover-color;
                font-size: $font-size-base + 4;
            }
            del{
                .amount{
                    color: $product-price-old-color;
                    font-size: $font-size-base + 2;
                    text-decoration: line-through;
                    opacity: 0.5;
                }
            }
            ins{
                .amount{
                    color: $link-hover-color;
                    font-size: $font-size-base + 4;
                }
            }
        }
    }
    .review_form_wrapper {
        margin-bottom: 40px;
    }
    &.widget_shopping_cart,
    .widget_shopping_cart {
        .total {
            border-top: none;
            padding: 0 15px;

        }
    }
    &.post-type-archive-product{
        .category-header{
           display: none;
        }
    }

}
// product woocommerce tabs
div.product {
    .product_title {
        letter-spacing: -1px;
        font-size: 24px;
    }
    .woocommerce-tabs{
        ul.tabs{
            padding: 0!important;
            margin-bottom: 0!important;
            li{
                margin: 0 0 -1px!important;
                position: relative;
                background-color: transparent!important;
                border-top: none !important;
                border-left: none !important;
                border-right: 1px solid #666 ;
                @include border-radius(0!important);
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    border: none;
                }
                &:after, &:before, &.active:before, &.active:after{
                    border: none!important;
                    @include box-shadow (none!important);
                }
                &.active{
                    a{
                        color: $gray-darker !important;
                        font-weight: 400 !important;
                    }
                }
                a{  
                    text-transform:uppercase;
                    padding : 0 !important;
                    font-size: $font-size-base + 2;
                    font-weight: 300 !important;

                }
            }
            &::before {
                border: none !important;
            }
        }
        .wc-tab{
            h2{
                display:  none;
            }
            p{
                font-size: $font-size-base + 1;
                font-weight: 300;
                line-height: 25px;
                text-align: justify;
            }
        }
        .panel {
            @include box-shadow( none );
            border-top: none;
            padding: 15px 0px !important;
        }
    }

    /*------------------------------------*\
    Quantity inputs
    \*------------------------------------*/
    .cart {
        div.quantity {
            input.qty {
                text-align: center;
                color: $black;
                font-weight: 400;
                border: 1px solid $border-color;
                padding-right: 5px;
                height: 50px;
                @include rtl-margin-right(10px);
                &:focus{
                    @include form-control-focus();
                }
            }
        }
        .product_type_external,
        .single_add_to_cart_button {
            @include rtl-padding(0, 20px, 0, 20px);
            @include size(auto, 38px);
            line-height: 38px;
            text-transform: uppercase;
            
        }
    }
}
a.remove:hover {
    background-color: transparent;
    color: #000!important;
}
.product-block .button-action .add-cart .added_to_cart {
    display: none;
}
/**
 * Category Page
 */
.product-subcategories{
    padding:0;
    margin:0;
    li{
        list-style-type: none;
    }
}
/* quickview modal */
#pbr-quickview-modal {
    bottom: inherit;
    top: 50%;
    @include translateY(-50%);
    .images {
        > div {
            width: 100%;
        }
    }
    .woocommerce .summary {
        width: 100%;
        .cart {
            float: none;
            margin-top: 20px;
            margin-bottom: 30px;
            .add-cart{ 
                .add_to_cart_button {
                    text-transform: uppercase;
                    background-color: $theme-color;
                    display: inline-block;
                    color: #fff;
                    font-weight: 700;
                    .icon-cart {
                        @include size(48px, 48px);
                        line-height: 48px;
                        font-size: 18px;
                        text-align: center;
                        @include rtl-margin-right(10px);
                        background-color: rgba(0, 0, 0, 0.1); 
                        @include  rtl-border-radius-topleft(4px);
                        @include  rtl-border-radius-bottomleft(4px);
                    }
                    &:hover{
                        background-color: darken($theme-color, 15%)
                    }
                }
                .added_to_cart {
                    text-transform: uppercase;
                    font-weight: 700;
                    @include rtl-margin-left(20px);
                }
            }
            .single_add_to_cart_button{
                height: 50px;
                min-width: 200px;
                @include transition(0.5 ease all);
                &:hover{
                    background: transparent;
                    border: 1px solid $link-hover-color;
                    color: $link-hover-color;
                }
            }
        }
        .yith-wcwl-add-to-wishlist{
            display: none;
        }
    }
    .carousel-indicators{
        display: none;
        bottom: 0;
        left: inherit;
        margin: 0;
        position: inherit;
        text-align: left;
        width: inherit;
        li{
            border-radius: 0;
            margin: 5px 0 0 0;
            text-indent: inherit;
            @include size(91px,91px);
            img{
                width: 100%;
            }
        }
        .active{
            border-color: $link-hover-color;
        }
    }
    .carousel-control{
        line-height: 48px;
        top: 50%;
        margin: -36px auto 0;
        font-weight: normal;
        border: 0px;
        @include box-shadow (2px 2px 9px rgba(0,0,0,.12));
        @include square(50px);
        @include font-size(font-size, 25px);
        @include transition(all 0.45s ease);
        background: $white;
        color: $black;    
        &.left{
            @include rtl-left(-20px);
        }
        &.right{
            @include rtl-right(-20px);
        }
        &:hover{
            background: #111111;
            color: $white;
            @include box-shadow (none);
        }
    }
    .modal-header{
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }
    .btn-close{
        border-color: $white;        
        color: $black;
        position: relative;
        top: 20px;
        right: 5px;
        &:hover{
            background: $white;
        }
    }
}
#quickview-carousel{
    margin: 0 25px 25px;
}
@media (max-width: $screen-xs-max){
    #image-additional-carousel img {
        @include size(65px ,auto);
    }
}

//jqzoom
@media (max-width: $screen-sm-max){
    .zoomContainer{
        display: none;
    }
}
.zoomLens {
    width: 50px !important;
    height : 50px !important;
    &:before {
        content: "+";
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 48px;
        font-size: 25px;
        display: block;
        font-weight: 400;
    }
}
.woocommerce #respond input#submit.added::after, .woocommerce a.button.added::after, .woocommerce button.button.added::after, .woocommerce input.button.added::after {
    content: "";
    margin-left: 0;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img{
    width: 90px !important;
}
/**
=================================
 */
.post-password-form{
    input[type="submit"]{
        background: $link-hover-color;
        border: 1px solid #6c6c6c;
        color: $white;
        padding: 2px 10px;
    }
}
.woocommerce-cart{
    .woocommerce{
        .cart-collaterals{
            flex-direction: column;
            @include flexbox();
            .cart_totals{
                order: 0;
            }
            .cross-sells{
                margin-top: 60px;
                position: relative;
                h2{
                    padding-bottom: 30px;
                    text-align: center;
                }
                width: 100%;
                order: 1;
                .owl-item{
                    padding: 0 10px;
                }
            }        
            .carousel-control{
                top: 40%;
            }
        }        
    }
}
#tab-additional_information{
    table.shop_attributes{
        td p{
            font-style: normal;
            padding-left: 20px;
        }
    }
}
form.cart{
    .quantity{
        .screen-reader-text{
            overflow: visible;
            position: inherit !important;
            height: auto;
            width: auto;
            margin-right: 5px;
        }
    }
}
.widget_shopping_cart_content{
    .woocommerce-mini-cart{
        .woocommerce-mini-cart-item{
            position: relative;
            margin-bottom: 15px;
            border-bottom: solid 1px $border-color;
            padding-bottom: 15px;
            .remove{
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}
.woocommerce-product-gallery{
    .woocommerce-product-gallery__wrapper{
        margin-right: 30px !important;
    }
}
.single-product{
    .upsells{
        &.widget{
            .owl-item{
                padding: 0 15px;
            }
        }                
    }
}   
.woocommerce{
    .woocommerce-cart-form{
        table{
            border-radius: 0;
            tr {
                >th{
                    text-align: center;
                    &:nth-child(1){
                        width: 5%;
                    }
                    &:nth-child(2),&:nth-child(4),&:nth-child(5),&:nth-child(6){
                        width: 15%;
                    }
                    &:nth-child(6){
                        border-right: none;
                    }
                }
                >td{
                    text-align: center;
                    &:nth-child(6){
                        border-right: none;
                    }
                    a{
                        color: $text-color;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
            }
            &.shop_table td{
                border-top: none;
            }
            td.actions{
                border-bottom: none;
                border-right: none;
                padding: 25px 12px;
            }
        }
        .actions{                
            .coupon{
                input{
                    border-radius: 0;
                    height: 50px;
                }
                @media (max-width: $screen-sm) and (min-width: $screen-xs){
                    margin-bottom: 20px;
                }
                @media (max-width: $screen-xs){
                    margin-bottom: 30px;
                }
            }
            button.button{
                padding: 15px 23px;
            }
        }
        a.remove{
            display: inline-block;
        }
        .quantity .qty{
            width: 90px;
            height: 50px;
        }
        button.button{
            padding: 15px 23px;
        }
    }
    .cart_totals{
        table{
            border-radius: 0;
            tr {
                >th{
                    border-bottom: none;
                }
                >td{
                    border-bottom: none;
                }
            }
        }        
    }
}
.woocommerce-cart{
    .cart_totals{
        .wc-proceed-to-checkout {
            a.checkout-button{
                width: 230px;
                padding: 15px 0;
            }
        }    
    }        
} 
#tab-reviews{
    .reviews-summary{
        .media-body{
            a{
                color: $white;
            }
        }
    }
}
#commentform{
    .stars{
        a{
            color: #ffcf4e;
            margin-right: 2px;
        }
    }
}